Name: Eddie Ekpoh

Date: September 15, 2022

Project Summary: Creates and edits pandas dataframe about the countries in the world

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('countries_of_the_world.csv', index_col=0, decimal=',')

In [21]:
df

,Region,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,GDP,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

Formats the dataframe so that there is no leading and trailing
whitespace in the "Region" column and row labels, also capitalizes Regions normally

In [39]:
df['Region'] = df['Region'].str.strip().str.title()
df.index = df.index.str.strip()
df

,Region,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,GDP,Literacy,Phones,...,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service,Growth Rate,Years to Extinction
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia (Ex. Near East),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,...,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380,26.26,NaN
Albania,Eastern Europe,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,...,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579,9.89,NaN
Algeria,Northern Africa,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,...,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298,12.53,NaN
American Samoa,Oceania,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,...,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN,19.19,NaN
Andorra,Western Europe,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,...,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN,2.46,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,Near East,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,...,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630,27.75,NaN
Western Sahara,Northern Africa,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,...,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400,NaN,NaN
Yemen,Near East,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,...,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393,34.59,NaN
Zambia,Sub-Saharan Africa,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,...,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489,21.07,NaN
Zimbabwe,Sub-Saharan Africa,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,...,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579,6.17,NaN

Creating a "Growth Rate" column in the dataframe

In [40]:
df['Growth Rate'] = df['Birthrate'] - df['Deathrate']

Helper functions that takes a current population of a country along with its death rate
in order to find the year that the country will be extinct

In [41]:
def dod(p, r):
  num_yrs = 0
  while p > 2:
    p = p + p * r / 1000
    num_yrs += 1
  return num_yrs

Creates a 'Years to Extinction' column that will be filled with
values if the rows growth rate is negative. Uses dod helper function
to determine number of years until extinction

In [45]:
df['Years to Extinction'] = np.nan
for row in df.index:
  if df.loc[row,'Growth Rate'] < 0:
    df.loc[row, 'Years to Extinction'] = dod(df.loc[row, 'Population'], df.loc[row, 'Growth Rate'])

Creates a series of the 'Years to Extinction' column with no na values

In [56]:
negative = df['Years to Extinction']
negative = negative.dropna()
series = negative.sort_values()

Prints the 5 countries that are closest to extinction

In [58]:
count = 0
for row, value in series.items():
    print(str(row).strip() + ': ' + str(value) + ' Years to Extinction')
    count += 1
    if count == 5:
      break

Botswana: 2115.0 Years to Extinction
Monaco: 2602.0 Years to Extinction
Ukraine: 3038.0 Years to Extinction
Latvia: 3148.0 Years to Extinction
Bulgaria: 3266.0 Years to Extinction